{% extends 'base_end.html' %}
{% block context %}
    <div class="page-header"><h3>商家店铺{{ page_context }}</h3></div>
    <form action="" method="post">
        {% for foo in form %}
            {% if foo.type == 'BooleanField' %}
                <label class="radio-inline">{{ foo.label }}</label>&nbsp;&nbsp;{{ foo }}
            {% else %}
                <div class="form-group" style="text-align: right;">
                    <label class="col-sm-3 control-label" style="margin-top: 15px;">{{ foo.label }}</label>
                    <div class="col-sm-9" style="margin-top: 15px;">{{ foo }}<span
                            class="text-danger">{{ foo.errors[0] }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" class="btn btn-primary btn-lg" style="padding: 10px 50px;margin-top: 30px"
               value="{{ page_context }}店铺">

    </form>
{% endblock %}