{% extends 'base_end.html' %}
{% block head_js %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="js/qiniu.js") }}"></script>
    <script src="{{ url_for('static', filename="js/img_upload.js") }}"></script>
{% endblock %}
{% block context %}
    <div class="page-header"><h3>商家店铺{{ page_context }}</h3></div>
    <form action="" method="post" enctype="multipart/form-data">

        {% for foo in form %}
            {% if foo.type == 'BooleanField' %}
                <label class="radio-inline">{{ foo.label }}</label>&nbsp;&nbsp;{{ foo }}
            {% else %}
                <div class="form-group" style="text-align: right;">
                    <label class="col-sm-3 control-label" style="margin-top: 15px;">{{ foo.label }}</label>
                    <div class="col-sm-9" style="margin-top: 15px;">{{ foo }}<span
                            class="text-danger">{{ foo.errors[0] }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" class="btn btn-primary btn-lg" style="padding: 10px 50px;margin-top: 30px"
               value="{{ page_context }}店铺">
        <button id="upload-btn" class="btn btn-lg" style="padding: 10px 30px;margin-top: 30px">{{ page_context }}店铺图片
        </button>
    </form>
{% endblock %}
{% block foot_js %}
{% endblock %}